@import "tailwindcss";

@utility container {
  margin: 0 auto;
}

@theme {
  --color-primaryColor: #181616;
  --color-secondaryColor: #f2f2f2;
  --color-brandColor: #b31312;
  --color-lightBrandColor: #fe0000;

  --font-pixelFont: ;
}

.con {
  color: #181616;
}

body {
  background-color: #000000;
}
